/* TABLE FIRST */
body {
    background-color: #ccc5b99e;
    background-image: url("../img/bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

body.rtl {
    direction: rtl;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Noto Serif', serif;
    text-shadow: 1px 1px 1px #FFFCF2;
}

.books-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 70%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

.btns {
display: flex;
gap: 40px;
}

.book-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
    background-color: #403D39;
    gap: 15px;
    width: 40%;
    height: 20%;
    color: white;
    border-radius: 8px;
    padding: 10px;
}

.search-box {
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
}

.search-box:hover {
    background-color: rgb(191, 191, 191);
}

.btn {
    margin-bottom: 5px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    padding: 5px;
    box-shadow: 1px 1px 3px black;
}


.search-btn:hover {
    background-color: #EB5E28;
    transition: 0.5s;
}

.action-btn {
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.read {
    background-color: #335C67;
}

.read:hover {
    background-color: #1f383f;
    transition: 0.5s;
}

.update {
    background-color: #E09F3E;
}

.update:hover {
    background-color: #bc8636;
    transition: 0.5s;
}

.delete {
    background-color: #9E2A2B;
}

.delete:hover {
    background-color: #872527;
    transition: 0.5s;
}


tr:nth-child(even) {
    background-color: #403d3986;
}

th {
    background-color: #403D39;
    color: rgb(222, 222, 222);
    cursor: pointer;
    border: none;
}


table td {
    height: 10%;
    text-align: center;
}

table {
    background-color: #FFFCF2;
    table-layout: fixed;
    border-collapse: collapse;
}

.add-modal {
    background-color: #EB5E28;
    background-image: linear-gradient(to left top, #eb5f28, #ccc5b9a4);
    /* background-image: url('img/gr.jpg'); */
    height: 25%;
    position: absolute;
    margin: auto;
    inset: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 25%;
    padding: 20px;
    border-radius: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: none;
}

.add-modal.open {
    display: block;
}


.modal {
    background-color: #252422;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    display: block;
    height: 500px;
    width: 350px;
    position: absolute;
    opacity: 0.9;
    display: none;
}

.modal.open {
    display: block;
    transition: left .5s;
}

.rate-container {
    border-radius: 8px;
    margin: auto;
    gap: 5px;
    background-color: white;
    color: black;
    padding: 5px;
    width: 30%;
}

